<section id="contact">
	{{- if and (.Title) (.Content) -}}
	<h1 class="text-center mx-auto max-w-4xl text-4xl sm:text-5xl md:text-6xl">
		{{ .Title }}
	</h1>
	<div class="text-center mx-auto mb-8">
		{{ .Content }}
	</div>
	{{ end }}
	<form class="w-full relative" method='{{ .Params.method | default "POST" }}' action="{{ .Params.action }}"
		{{ if .Params.netlify }} data-netlify="true" {{ end }}>
		{{- range .Params.Inputs -}}
		{{- $pattern := "" -}}
		{{- with .pattern -}}
		{{- $pattern = printf "pattern=%q" . | safeHTMLAttr -}}
		{{- end -}}
		{{- $minlength := "" -}}
		{{- $maxlength := "" -}}
		{{- with .minlength -}}
		{{- $minlength = printf "minlength=%q" . | safeHTMLAttr -}}
		{{- end -}}
		{{- with .maxlength }}
		{{- $maxlength = printf "maxlength=%q" . | safeHTMLAttr -}}
		{{- end -}}
		<div>
			{{- if .label -}}
			<div class="my-2 font-bold text-lg">
				<label for="{{ .name }}">{{- .label -}}
					{{- if .required -}}
					<span class="text-red-500 font-normal">*</span>
					{{- end -}}
				</label>
			</div>
			{{- end -}}
			{{- $class := "bg-secondary-light border-secondary" -}}
			{{- if eq .type "textarea" -}}
			<textarea rows="5" {{ printf "name=%q" .name | safeHTMLAttr }} {{ printf "id=%q" .name | safeHTMLAttr }}
				{{ printf "placeholder=%q" .placeholder | safeHTMLAttr }} {{ $minlength }} {{ $maxlength }}
				{{ if .required }} required {{ end }} {{ printf "class='%s'" $class | safeHTMLAttr }}></textarea>
			{{- else if eq .type "checkbox" -}}
			<div class="grid w-full gap-6 mb-4 md:grid-cols-3">
				{{- range .options -}}
				<div {{ printf "id='%s-link'" .name | safeHTMLAttr }} class="scroll-mt-[76px]">
					<input type="checkbox" class="hidden peer" {{ printf "id=%q" .name | safeHTMLAttr }} 
							{{ printf "name=%q" .name | safeHTMLAttr }}
							{{ if .required }} required {{ end }} {{ if .checked }} checked {{ end }}/>
					<label for="{{ .name }}"
						class="inline-flex items-center justify-between w-full p-5 border-2 rounded-lg cursor-pointer border-secondary text-gray-600 hover:bg-accent-light peer-checked:text-secondary peer-checked:bg-accent peer-checked:border-accent-dark peer-checked:hover:text-yellow-100 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-accent-light dark:bg-secondary-light dark:peer-checked:text-gray-400 dark:peer-checked:bg-accent-dark dark:peer-checked:hover:text-yellow-100">
						<div class="block">
							{{- $class := "mb-2 w-7 h-7 fill-current" -}}
							{{- partial .icon $class -}}
							<div class="w-full text-lg font-semibold">{{ .label }}</div>
							<div class="w-full text-sm">{{ .description }}</div>
						</div>
					</label>
				</div>
				{{- end -}}
			</div>
			{{- else if eq .type "select" -}}
			<select {{ printf "name=%q" .name | safeHTMLAttr }} {{ printf "id=%q" .name | safeHTMLAttr }} 
				{{ if .required }} required {{ end }}
				{{ printf "class='%s'" $class | safeHTMLAttr }}>
				{{- range .options -}}
				<option value="{{ .value }}">{{ .label }}</option>
				{{- end -}}
			</select>
			{{- else if eq .type "date" -}}
			<input {{ printf "type=%q" .type | safeHTMLAttr }} {{ printf "name=%q" .name | safeHTMLAttr }}
				{{ printf "id=%q" .name | safeHTMLAttr }} {{ printf "min=%q" .min_date | safeHTMLAttr }}
				{{ $currDate := time.Now.Format "2006-01-02" }}
				{{ printf "max=%q" $currDate | safeHTMLAttr }}
				{{ if .required }} required {{ end }}
				{{ printf "class='%s'" $class | safeHTMLAttr }}>
			{{- else if eq .type "datetime-local" -}}
			<input {{ printf "type=%q" .type | safeHTMLAttr }} {{ printf "name=%q" .name | safeHTMLAttr }}
				{{ printf "id=%q" .name | safeHTMLAttr }} {{ printf "min=%q" .min_date | safeHTMLAttr }}
				{{ $currDate := time.Now.Format "2006-01-02T15:04" }}
				{{ printf "max=%q" $currDate | safeHTMLAttr }}
				{{ if .required }} required {{ end }}
				{{ printf "class='%s'" $class | safeHTMLAttr }}>
			{{- else -}}
			{{- $type := .type | default "text" -}}
			<input {{ printf "type=%q" .type | safeHTMLAttr }} {{ printf "name=%q" .name | safeHTMLAttr }}
				{{ printf "id=%q" .name | safeHTMLAttr }} {{ printf "placeholder=%q" .placeholder | safeHTMLAttr }}
				{{ $pattern }} {{ if .required }} required {{ end }}
				{{ printf "class='%s'" $class | safeHTMLAttr }}>
			{{- end -}}
		</div>
		{{- end -}}

		{{- if .Params.useEmail -}}
		{{- with .Site.Params.email -}}
		<a class="bg-secondary-dark dark:bg-secondary-light px-3 py-2 rounded-md mr-2 no-underline inline-block" href="mailto:{{ . }}">
			{{ i18n "contact_email" -}}
		</a>
		{{- end -}}
		{{- end -}}
		<div class="float-right">
			<input type="reset" class="bg-secondary-dark dark:bg-secondary-light mr-2" value='{{ i18n "cancel" }}' />
			<input type="submit" class="bg-primary text-secondary" value='{{ i18n "submit" }}' />
		</div>
	</form>
</section>