* {
    transition: all .5s;
}

:root {
  --color-primary: #212121;
  --color-primary-dark: #000000;
  --color-primary-light: #484848;

  --color-secondary: #cbc7bb;
  --color-secondary-dark: #d8beaf;
  --color-secondary-light: #e7e2dc;

  --color-accent: #981d25;
  --color-accent-dark: #6a141a;
  --color-accent-light: #b76166;
}

.dark * {
  --color-primary: #e7e2dc;
  --color-primary-dark: #8b8b8b;
  --color-primary-light: #e9ecef;
  
  --color-secondary: #161616;
  --color-secondary-dark: #000000;
  --color-secondary-light: #303030;
  
  --color-accent: #d06f32;
  --color-accent-dark: #924e23;
  --color-accent-light: #de9a70;
}
