{{- define "main" -}}
<div class="pt-[120px] pb-[80px] bg-service_light dark:bg-service_dark">
    <div class="px-4 mx-auto text-center lg:max-w-5xl xl:max-w-6xl 2xl:max-w-screen-xl">
        <p class="text-4xl font-bold tracking-tight leading-none mx-auto md:text-6xl">
            {{ .Title | safeHTML }}
        </p>
        <p class="text-lg text-gray-600 dark:text-gray-400 lg:text-xl sm:px-16 md:px-48">
            {{ .Params.subtitle | safeHTML }}
        </p>
    </div>
</div>

<div class="px-4 md:px-12 mx-auto w-full xl:max-w-screen-xl">
    <div class="flex flex-wrap justify-around">
        {{- $paginator := .Paginate (where .Pages "Type" "services") -}}
        {{- range $index, $element := $paginator.Pages -}}
        <div class="max-w-xl w-full border border-primary-light dark:border-secondary-light first:bg-accent m-2">
            {{- partial "price_card.html" (dict "index" $index "content" $element) -}}
        </div>
        {{- end -}}
    </div>

    {{/* Pagination */}}
    {{- if or ($paginator.HasPrev) ($paginator.HasNext) -}}
    <hr class="mb-8 mt-24">
    {{- end -}}

    <div class="flex justify-between items-center">
        {{- with $paginator.Prev -}}
        <div class="flex-1">
            <a class="no-underline" href="{{ .URL }}">
                {{- $class := "transform -rotate-90 w-4 h-4 inline-block fill-accent-light" -}}
                {{- partial "svgs/icons/tailless_arrow.svg" $class -}}
                {{/*  <img src="{{ "/icons/top_arrow.svg" | relURL }}" class="transform -rotate-90 inline-block">  */}}
            </a>
            <a href="{{ .URL }}">
                <span class="hover:underline">{{ i18n "previous" | title }}</span>
            </a>
        </div>
        {{- end -}}

        {{- if and ($paginator.HasPrev) ($paginator.HasNext) -}}
        <span class="text-gray-600">|</span>
        {{- end -}}

        {{- with $paginator.Next -}}
        <div class="flex-1 text-right">
            <a href="{{ .URL }}">
                <span class="hover:underline">{{ i18n "next" | title }}</span>
            </a>
            <a class="no-underline" href="{{ .URL }}">
                {{- $class := "transform rotate-90 w-4 h-4 inline-block fill-accent-light" -}}
                {{- partial "svgs/icons/tailless_arrow.svg" $class -}}
            </a>
        </div>
        {{- end -}}
    </div>
</div>

{{- end -}}