<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}' class='{{ if eq .Site.Params.darkmode "always" }} dark {{ end }}'>

<head>
	{{ partial "head/metadata.html" . }}
	{{ partial "head/js.html" . }}
	{{ partial "head/css.html" . }}
</head>

<body class="min-h-screen bg-secondary-light dark:bg-secondary text-primary relative pb-24">
	{{/* class dark to prevent purge css from purging it */}}
	<div id="top" class="dark"></div>

	{{- partial "dev/size-indicator.html" . -}}
	{{- partial "header.html" . -}}

	{{ $mainClass := "mx-auto px-4 md:max-w-4xl pt-[70px] md:pt-[77px]" }}
	{{ if .IsHome }}
	{{ $mainClass = printf "%s lg:max-w-5xl xl:max-w-6xl 2xl:max-w-screen-xl" $mainClass}}
	{{ else if eq .RelPermalink "/services/" }}
	{{ $mainClass = "" }}
	{{ end }}

	<main class="w-full overflow-x-hidden md:overflow-visible {{ $mainClass }}">
		{{- block "main" . }}{{- end }}
	</main>

	<div class="absolute bottom-0 w-full">
		{{- partial "footer.html" . -}}
		{{/* {{- partial "dev/parameters.html" . -}} */}}
	</div>
</body>

</html>