<a href="{{ .Permalink }}" class="no-underline block">
	<div class="mb-4 overflow-hidden md:hover:drop-shadow-xl">
		{{/* A span is used instead a div for accessibility, <a> tag can't wrap div elements */}}
			<span class="block">
				{{ with .Params.banner }}
				<div class="w-full">
					<img src="{{ . | absURL }}" alt="Background image">
				</div>
				{{ end }}
				<div class="p-4 bg-secondary">
					<div class="">
						<h2 class="m-0 inline-block">{{ .Title | emojify }}</h2>
						{{ if .Params.date }}
						<span class="block no-underline font-thin text-primary dark:text-primary-light -mt-2">
							{{ dateFormat "02/01/2006" .Date }} &middot; {{ i18n "reading_time" . }}
						</span>
						{{ end }}
					</div>
					<div class="mt-0 text-primary-dark">
						{{ with .Params.subtitle }}
						{{ . }}
						{{ else }}
						{{ substr .Plain 0 256 }}
						{{ end }}
						<span class="text-xs mt-3 block no-underline">{{ i18n "read_more" }}...</span>
					</div>
				</div>
			</span>
	</div>
</a>
