{{- $page := . -}}
<ul role="list" class="list-none pl-0 ml-0 divide-y divide-secondary dark:divide-accent-dark">
    {{- range .Site.Params.social -}}
    <li class="py-2 lg:py-3">
        <div class="flex items-center space-x-3">
            <div class="flex-shrink-0">
                {{- $class := "w-8 h-8 fill-accent-light" -}}
                {{- partial .icon $class -}}
            </div>
            <div class="flex-1 min-w-0">
                <p class="mt-0 text-lg font-semibold text-gray-900 truncate dark:text-white">
                    {{ .name }}
                </p>
                <a href="{{ .url }}" title="{{ .name }}"
                class="text-base text-gray-500 truncate dark:text-gray-400"
                {{ if .blank }} target="_blank" {{ end }} {{ if strings.HasPrefix .url "http" }} rel="noopener" {{ end }}>
                    {{- if not (eq .name "email") -}}
                    {{- with urls.Parse .url -}}
                    {{- .Host -}}
                    {{- end -}}
                    {{- else -}}
                    {{- $page.Params.email -}}
                    {{- end -}}
                </a>
            </div>
        </div>
    </li>
    {{- end -}}
</ul>
