{{ $page := . }}
<header id="header"
	class="transition-all duration-500 ease-in-out fixed backdrop-blur bg-secondary-light/95 dark:bg-secondary/95 border md:border-b border-slate-900/10 dark:border-slate-50/[0.06] z-50 m-2.5 w-[calc(100%-20px)] rounded-lg p-3.5 md:m-0 md:w-full md:rounded-none md:p-5">
	{{/* Pico responsive icon (square and text) */}}
	<div class="mx-auto flex justify-between px-5 md:max-w-5xl md:px-0">
		<div class="flex items-center">
			<a href="{{ .Site.Home.Permalink }}" class="mx-1 inline-block select-none font-bold no-underline">
				<h1 class="font-charter m-0 hidden tracking-normal md:block">{{ .Site.Title }}</h1>

				<div class="md:hidden">{{ partial "icon" . }}</div>
			</a>
			{{ if .IsTranslated }}
			<div class="ml-2 inline-block border-l border-slate-700 pl-2">
				{{ range .Translations }}
				<a href="{{ .Permalink }}" class="inline-block px-1 no-underline">
					<span class="font-bold"> {{ .Language | upper }} </span>
				</a>
				{{ end }}
			</div>
			{{ end }}
		</div>
		<div class="flex items-center">
			<div class="hidden md:flex flex-wrap">
				<nav class="">
					{{ range .Site.Menus.main }}
					<a href="{{ .URL | relLangURL}}"
						class="hover:text-primary-light dark:hover:text-primary-dark mx-1 no-underline md:mx-2">
						{{ .Pre }} {{ i18n .Identifier }} </a>
					{{ end }}
				</nav>
			</div>
			<div class="md:hidden">
				<button id="menuBtn" class="mb-0 flex">
					<svg class="h-3.5 w-3.5 overflow-visible stroke-slate-700" fill="none" stroke-width="2"
						stroke-linecap="round">
						<path d="M0 1H14M0 7H14M0 13H14" class="origin-center transition"></path>
						<path d="M2 2L12 12M12 2L2 12" class="origin-center transition scale-90 opacity-0 "></path>
					</svg>
				</button>
			</div>
		</div>
	</div>
	<div id="navMenu" class="mt-4 border-t border-secondary px-9 pb-3.5 hidden md:hidden">
		<nav class="flex flex-col">
			{{ range .Site.Menus.main }}
			<a href="{{ .URL | relLangURL}}"
				class="last:bg-accent last:text-secondary-light last:dark:text-primary w-full px-3.5 py-4 text-center no-underline last:rounded-full">
				{{ .Pre }} {{ i18n .Identifier }} </a>
			{{ end }}
		</nav>
	</div>
</header>