<section class="p-4 md:p-8">
	<h1 class="text-4xl my-5 {{ if eq .index 0}}text-secondary-light dark:text-primary{{ end }}">{{ .content.Title | emojify }}</h1>
	<div class="flex items-baseline {{ if eq .index 0 }}text-secondary-light dark:text-primary{{ end }}">
		<span class="font-serif text-3xl font-semi-bold">&#8372;</span>
		<span class="font-serif text-5xl font-light tracking-tight">{{ .content.Params.price }}</span>
	</div>
	<p class="mt-5 text-gray-600 dark:text-gray-400 {{ if eq .index 0 }}text-secondary {{ end }}">
		{{ with .content.Params.subtitle }}
		{{ . }}
		{{ else }}
		{{ substr .content.Plain 0 256 }}
		{{ end }}
	</p>
	<a href="{{ .content.Permalink }}"
		class="w-full mt-4 py-2 inline-flex items-center justify-center {{ cond (not (eq .index 0)) "bg-accent" "bg-accent-dark" }} text-secondary-light border border-accent-light hover:border-accent-dark transition duration-300 ease-in-out no-underline hover:bg-accent-dark hover:text-secondary dark:hover:text-primary dark:text-primary">
		<span class="text-x block no-underline">{{ i18n "read_more" }}</span>
	</a>
	<ul class="mt-10 flex flex-col gap-y-3 pl-0 ml-0 {{ if eq .index 0 }}text-secondary-light dark:text-primary{{ end }}">
		{{ range .content.Params.keys }}
		<li class="flex">
			{{- $class := "h-6 w-6 fill-gray-400" -}}
			{{- partial "svgs/icons/hex-check.svg" $class -}}
			<span class="ml-4">
				{{ . }}
			</span>
		</li>
		{{ end }}
	</ul>
</section>
