<section class="p-4 md:p-8">
	<h2 class="text-4xl my-5 {{ if eq .index 0}}text-secondary-light dark:text-primary{{ end }}">{{ .content.Title | emojify }}</h2>
	<div class="flex items-baseline {{ if eq .index 0 }}text-secondary-light dark:text-primary{{ end }}">
		<span class="text-3xl font-semi-bold">&#8372;</span>
		<span class="text-5xl font-light tracking-tight">{{ .content.Params.price }}</span>
	</div>
	<p class="mt-5 text-gray-600 dark:text-gray-400 {{ if eq .index 0 }}text-secondary {{ end }}">
		{{ with .content.Params.subtitle }}
		{{ . }}
		{{ else }}
		{{ substr .content.Plain 0 256 }}
		{{ end }}
	</p>
	<a href="{{ .content.Permalink }}"
		class="w-full mt-4 py-2 inline-flex items-center justify-center {{ cond (not (eq .index 0)) "bg-accent" "bg-accent-dark" }} text-secondary-light border border-accent-light hover:border-accent-dark transition duration-300 ease-in-out no-underline hover:bg-accent-dark hover:text-secondary dark:hover:text-primary dark:text-primary">
		<span class="text-x block no-underline">{{ i18n "read_more" }}</span>
	</a>
	<ul class="mt-10 flex flex-col gap-y-3 pl-0 ml-0 {{ if eq .index 0 }}text-secondary-light dark:text-primary{{ end }}">
		{{ range .content.Params.keys }}
		<li class="flex">
			<svg aria-hidden="true" class="h-6 w-6 flex-none fill-current stroke-current text-slate-400">
				<path
					d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z"
					stroke-width="0"></path>
				<circle cx="12" cy="12" r="8.25" fill="none" stroke-width="1.5" stroke-linecap="round"
					stroke-linejoin="round"></circle>
			</svg>
			<span class="ml-4">
				{{ . }}
			</span>
		</li>
		{{ end }}
	</ul>
</section>
