{{- define "main" -}}
{{- with .Site.GetPage "/home" -}}

{{- $lastIndex := (sub (len (.Resources.ByType "page")) 1) -}}
{{- range $index, $st := .Resources.ByType "page" -}}

{{- if ne $st.Params.hidden true -}}
{{- $widget := or $st.Params.widget "blank" -}}
{{- $widget_path := printf "widgets/%s.html" $widget -}}
{{- partial $widget_path $st -}}
{{- if ne $widget "blank" -}}

{{- $lastSeparatorClass := "border-secondary-dark dark:border-secondary-light" -}}
{{- if eq $index $lastIndex -}}
{{- $lastSeparatorClass = "opacity-0" -}}
{{- end -}}
<hr class="{{ $lastSeparatorClass }} my-24">
{{- end -}}
{{- end -}}
{{- end -}}

{{- end -}}

{{- end -}}
