{{- define "main" -}}
<div class="mx-auto text-center mb-16">
    <h1 class="tracking-tight leading-none mx-auto text-4xl md:text-6xl">
        {{ .Params.myTitle }}
    </h1>
    <h2 class="font-serif font-extralight text-gray-600 dark:text-gray-400 text-lg md:text-2xl">
        {{ .Params.subtitle }}
    </h2>
</div>

<div class="flex flex-wrap">
    <div class="mb-6 w-full lg:pr-28 md:mb-0 lg:max-w-sm lg:w-1/4">
        {{- partial "contact_list.html" . -}}
    </div>
    <hr class="mt-16 w-full lg:hidden">
    <div class="w-full lg:w-3/4">
        {{- partial "widgets/contact_form.html" . -}}
    </div>
</div>
{{- end -}}